body,html{
    padding:0px;
    margin:0px;
}


#mainBox{
    display:flex;
    flex-wrap:wrap;
    width:36vh;
    padding:0px;
    margin:0px;
    gap:0px;
}

.box{
    width:12vh;
    height:12vh;
    background-color:aquamarine;
    border:5px solid black;
    box-sizing:border-box;
    align-content: center;
    align-items: center;
}